#challonge-apikey {
	font-family: monospace;
}
#challonge-apikey-check::before,
#challonge-apikey-ok::before,
#challonge-apikey-fail::before,
#challonge-apikey-error::before {
	/* Dashicon Styling */
	font-size: 2em;
	display: inline-block;
	width: 1em;
	text-align: center;
}
#challonge-apikey-check {
	color: #ccc;
	display: none;
}
#challonge-apikey-ok {
	color: #0c0;
	display: none;
}
#challonge-apikey-fail,
#challonge-apikey-error {
	color: #f00;
	display: none;
}
#challonge-participant_name-tokens,
#challonge-participant_name-usermetatokens {
	display: none;
}
#challonge-participant_name-tokens table {
	margin: 5px;
	border: 1px dashed gray;
}
#challonge-participant_name-tokens table tr th {
	width: auto;
	padding: 0;
}
#challonge-participant_name-tokens table tr td {
	margin: 0;
	padding: 0 16px 0 0;
}
#challonge-participant_name-tokens table tr td.token {
	font-family: monospace;
}
#challonge-participant_name-tokens table tr td.token strong {
	color: red;
}
#challonge-participant_name-usermetatokens {
	width: 25em;
	font-size: 80%;
}
#challonge-participant_name-usermetatokens ul {
	font-family: monospace;
}
#challonge-donate {
	float: right;
	width: 200px;
	padding: 0 10px;
	border: 1px solid gray;
	border-radius: 8px;
	margin-bottom: -300px;
	box-shadow: 0 2px 3px black;
	background: rgb(246,248,249);
	background:    -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%);
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1)));
	background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
	background:      -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
	background:     -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
	background:         linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
}
#challonge-developer {
	display: block;
	padding: 10px;
	border: 1px solid #03f;
	border-radius: 6px;
	color: white;
	box-shadow: 0 2px 3px black;
	text-decoration: none;
	line-height: 1.3;
	background: rgb(109,179,242);
	background:    -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%);
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1)));
	background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	background:      -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	background:     -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	background:         linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
}
#challonge-developer:hover {
	border: 1px solid #09f;
	background: rgb(123,193,255);
	background:    -moz-linear-gradient(top, rgba(123,193,255,1) 0%, rgba(99,180,255,1) 50%, rgba(75,162,255,1) 51%, rgba(41,123,255,1) 100%);
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(123,193,255,1)), color-stop(50%,rgba(99,180,255,1)), color-stop(51%,rgba(75,162,255,1)), color-stop(100%,rgba(41,123,255,1)));
	background: -webkit-linear-gradient(top, rgba(123,193,255,1) 0%,rgba(99,180,255,1) 50%,rgba(75,162,255,1) 51%,rgba(41,123,255,1) 100%);
	background:      -o-linear-gradient(top, rgba(123,193,255,1) 0%,rgba(99,180,255,1) 50%,rgba(75,162,255,1) 51%,rgba(41,123,255,1) 100%);
	background:     -ms-linear-gradient(top, rgba(123,193,255,1) 0%,rgba(99,180,255,1) 50%,rgba(75,162,255,1) 51%,rgba(41,123,255,1) 100%);
	background: linear-gradient(to bottom, rgba(123,193,255,1) 0%,rgba(99,180,255,1) 50%,rgba(75,162,255,1) 51%,rgba(41,123,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bc1ff', endColorstr='#297bff',GradientType=0 );
}
#challonge-developer img {
	float: left;
	margin-right: 6px;
}
#challonge-donate-hide {
	float: right;
}
#challonge-donate-ty {
	font-size: 80%;
}
.challonge-important {
	color: red;
	font-weight: bold;
}
.challonge-tip {
	font-size: 80% !important;
}
.challonge-widget-status_filter label {
	display: inline-block;
	width: 49%;
}
#challonge-version {
	float: right;
	color: #777;
}
i.mce-i-challonge-mce-icon {
	background-image: url('challonge.png');
}

#challonge-headers_shortcode-list {
	list-style-type: none;
	margin: 0;
	padding: 2px;
	/*width: 256px;*/
	border: 1px solid #ccc;
	border-radius: 7px;
	background: white;
	display: table;
	border-collapse: separate;
}
#challonge-headers_shortcode-list li {
	margin: 1px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 0.4em;
	vertical-align: baseline;
	white-space: nowrap;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}
#challonge-headers_shortcode-list li:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f0a3+0,d2e638+50,c3d825+51,dbf043+100;Green+Gloss+%232 */
background: rgb(230,240,163); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 ); /* IE6-9 */


}
#challonge-headers_shortcode-list li .challonge-headers_shortcode-item {
	display: inline-block;
}
#challonge-headers_shortcode-list li .challonge-headers_shortcode-label {
    display: inline-block;
    min-width: 128px;
    padding-left: 0.5em;
}
#challonge-headers_shortcode-list li .dashicons {
	cursor: pointer;
	vertical-align: text-top;
}
#challonge-headers_shortcode-list li .challonge-handle {
	cursor: move;
	color: #999;
}
#challonge-headers_shortcode-list li.challonge-show .challonge-hide {
	display: none;
}
#challonge-headers_shortcode-list li.challonge-show .challonge-show {
	display: inline-block;
}
#challonge-headers_shortcode-list li.challonge-hide,
#challonge-headers_shortcode-list li.challonge-hide .challonge-handle {
	color: #ccc;
	border-color: white;
}
#challonge-headers_shortcode-list li.challonge-hide a.dashicons {
	opacity: 0.5;
}
#challonge-headers_shortcode-list li.challonge-hide:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f8d4+0,e9f39f+50,e3ed97+51,eef8a6+100 */
background: rgb(243,248,212); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(243,248,212,1) 0%, rgba(233,243,159,1) 50%, rgba(227,237,151,1) 51%, rgba(238,248,166,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(243,248,212,1) 0%,rgba(233,243,159,1) 50%,rgba(227,237,151,1) 51%,rgba(238,248,166,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(243,248,212,1) 0%,rgba(233,243,159,1) 50%,rgba(227,237,151,1) 51%,rgba(238,248,166,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f8d4', endColorstr='#eef8a6',GradientType=0 ); /* IE6-9 */

}
#challonge-headers_shortcode-list li.challonge-hide .challonge-hide {
	display: inline-block;
}
#challonge-headers_shortcode-list li.challonge-hide .challonge-show {
	display: none;
}
#challonge-headers_shortcode-list li.challonge-hide a.challonge-hover,
#challonge-headers_shortcode-list li .challonge-hover {
	opacity: 0;
}
#challonge-headers_shortcode-list li:hover .challonge-hover,
#challonge-headers_shortcode-list li .challonge-hover:focus,
#challonge-headers_shortcode-list li :focus ~ .challonge-hover {
	opacity: 1;
}
#challonge-headers_shortcode-list li.challonge-hide:hover .challonge-hover,
#challonge-headers_shortcode-list li.challonge-hide .challonge-hover:focus,
#challonge-headers_shortcode-list li.challonge-hide :focus ~ .challonge-hover {
	opacity: 0.5;
}

/*#challonge-headers_shortcode-list li .challonge-headers_shortcode-editform {
	display: none;
}*/
.challonge-headers_shortcode-editform label { display:block; }
.challonge-headers_shortcode-editform select,
.challonge-headers_shortcode-editform input { display:inline-block; width:100%; }
.challonge-headers_shortcode-editform input { margin-bottom:12px; padding: .4em; }
.challonge-headers_shortcode-editform fieldset { padding:0; border:0; }